@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #E5F6FF;
}
body::-webkit-scrollbar-thumb {
  background-color: #99DBFF;
  border: 2px solid #E5F6FF;
  border-radius: 10px;
} 

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.anim-underline-fx {
  background-image: linear-gradient(to right, #99DBFF 50%, #E5F6FF 50%);
  background-size: 200% 3px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 200ms ease-in-out;
}

.anim-underline-fx:hover {
  background-position: 0% 100%;
  transition: all 300ms ease-in-out;
}



.yearly-gradient {
  background: rgb(153,219,255);
background: linear-gradient(180deg, rgba(153,219,255,1) 0%, rgba(229,246,255,1) 50%, rgba(153,219,255,1) 100%);
}


.scroll-link {
  cursor: pointer;
  /* Add any additional styles */
}

.smooth-scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* Add any additional styles */
}

.hero-gradient {
  filter: "brightness(0.7)",
}

